body{
  margin: 60px 20px 20px 20px;
  background-color:black;
} 
h1{
    color: black;
    font-size: 80px;
  }
h3{
  color: #484848;
}
.tiny-border{
  border-style:solid;
  border-color:#FFFAF0;
  border-width:10px;
}
#grand-parent
{
  background-color:
#FFF8DC;
}
#image-child{
  background-color: 
#E6E6FA;
}
p{
  font-size:30px;
  color:
#778899;
}
#listy{
  font-size:20px;
  background-color:#E6E6FA;
}